body {
  background:linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  margin: 0;
  font-family:'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

